JAVACMD="/usr/bin/java"
PEPD_JOPTS="${JAVA_OPTS} -Djdk.tls.trustNameService=true"
PEPD_START_JOPTS=""
PEPD_HOME="/usr/share/argus/pepd"
PEPD_CONF="/etc/argus/pepd/pepd.ini"
PEPD_CONFDIR="/etc/argus/pepd"
PEPD_LOGDIR="/var/lib/argus/pepd/lib"
PEPD_LIBDIR="/var/lib/argus/pepd/lib"
PEPD_ENDORSEDDIR="/var/lib/argus/pepd/lib/endorsed"
PEPD_PROVIDEDDIR="/var/lib/argus/pepd/lib/provided"
PEPD_PID="/var/run/argus-pepd.pid"

