[Unit]
Description=Jenkins Slave
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/jenkins-slave
ExecStart=/usr/bin/java -jar /usr/local/lib/slave.jar -jnlpUrl $JNLP_URL -secret $SECRET
User=jenkins

[Install]
WantedBy=multi-user.target
