PDP_JOPTS="${JAVA_OPTS} -Djdk.tls.trustNameService=true"
PDP_START_JOPTS=""
PDP_HOME="/usr/share/argus/pdp"
PDP_CONF="/etc/argus/pdp/pdp.ini"
PDP_CONFDIR=""
PDP_LOGDIR="/var/log/argus/pdp"
PDP_LIBDIR="/var/lib/argus/pdp/lib"
PDP_ENDORSEDDIR="/var/lib/argus/pdp/lib/endorsed"
PDP_PROVIDEDDIR="/var/lib/argus/pdp/lib/provided"
PDP_PID="/var/run/argus-pdp.pid"
